<h2>Detalhes</h2>
<div class="wrapper">
  <li
    class="list-heroes"
    *ngFor="let hero of heroes"
    (click)="onSelect(hero)"
    [class.selected] = "hero === selectedHero"
  >
  <span class="heroId">{{hero.id}}</span>
  <span class="heroName">{{hero.name | uppercase}} </span>
</li>
</div>

<div *ngIf="selectedHero">
  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div>
    <span>Id:</span>
    <span>{{selectedHero.id}}</span>
  </div>

  <div>
    <label for="name">Hero name: </label>
    <input
      id="name"
      placeholder="Digite seu herói"
      [(ngModel)]= "selectedHero.name"
    >
  </div>
</div>
