.title {
  text-align: center;
  font-weight: 700;
  color:#369;
  font-size: 2rem;
  padding: 1.2rem;
}

.heroes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  max-width: 58rem;
  margin: 0 auto;
  margin-bottom: 1rem;;
}

@media(max-width: 1300px) {
  .heroes {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(max-width: 860px) {
  .heroes {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 580px) {
  .heroes {
    grid-template-columns: 1fr;
  }

}

.list-heroes {
  display: flex;
  margin-top: 1rem;
  background: #dbdbdb;
  width: 100%;
  padding: auto 0.7rem;
  border-radius: 0.3rem;
  text-align: center;
  box-shadow: 0.005rem 0 0.3rem rgba(0, 0, 0, 0.356) ;
  cursor: pointer;
}

/* .list-heroes:hover {
  filter: brightness(0.9);
  top: .1em;
  transition: filter 0.8s, top 1s;
} */

.heroId {
  background: #369;
  border-radius: 0.3rem 0 0 0.3rem;
  width: 3rem;
  color: #FFF;
  padding: 0.7rem;
}

.heroName{
  display: flex;
  align-items: center;
  margin-left: 0.7rem;
  color: rgb(23, 43, 77);
}

.selected {
  background: rgb(160, 160, 160);
}
