.title {
  width: 100%;
  padding: 1rem;
  text-align: center;

  font-size: 2rem;
  font-weight: bold;
  color: #369;
}

.add-hero {
  flex: 1;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;;
}

#new-hero {
  padding: 0.6rem;
  font-size: 0.8rem;
  border-radius: 0.2rem;
  border: none;
  box-shadow: 0.005rem 0.005rem 0.5rem rgba(0, 0, 0, 0.397);
  text-align: center;
  color:rgb(25, 51, 77);
  font-weight: 600;
}

.add-button {
  margin-left: 0.5rem;
  background: #369;
  color: #fff;
  font: bold;
  padding: 0.6rem;
  font-size: 0.8rem;
  border-radius: 0.2rem;
  border:none;
  cursor: pointer;
}

.add-button:hover {
  background: rgb(58, 117, 175);
  transition: background 0.3s;
}

.heroes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  max-width: 50rem;
  margin: 0 auto;

}

.list-heroes {
  flex:1;
  display: flex;
  list-style: none;
  position: relative;
  max-width: 15rem;
  cursor: pointer;

  border-radius: 0.2rem;
  box-shadow: 0.002rem 0.002rem 0.3rem rgba(0, 0, 0, 0.226);
}

.list-heroes:hover{
  box-shadow: 0.2px 0.2px 10px rgba(0, 0, 0, 0.315);

}

.links {
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heroId {
  padding: 0.8rem ;
  background: #369;
  border-radius: 0.2rem 0 0 0.2rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  text-align: center
}

.heroName {
  padding-left: 1rem;
  color: #369;
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
}

.delete {
  right: 0.5rem;
  position: absolute;
  border:none;
  background: transparent;
}

mat-icon {
  height: 1rem;
  color: rgb(25, 51, 77);
  cursor: pointer;
}

mat-icon:hover {
  color: rgb(153, 51, 59);
  transition: color 0.3s;
}

@media (max-width: 800px) {
  .heroes {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 540px) {
  .heroes {
    max-width: 25rem;
    grid-template-columns: 1fr;
  }
  .list-heroes {
    max-width: 100%;
  }
}
