#search-component {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex-direction: column;
}

#search-box {
  margin-left: 0.5rem;
  border: 0.1px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
  border-radius: 0.2rem;
  width: 20rem;
  box-shadow: 0.005rem 0.005rem 0.5rem rgba(0,0,0,0.2);
  font-size: 1rem;
  color: rgb(37, 75, 112);
  font-weight: bold
}

#search-box::placeholder {
  color: rgba(0, 0, 0, 0.322);
  font-weight: 500;
}

.search-result {
  margin-top: 0.8rem;
  display: flex;
  justify-content: center;
  flex-direction:column;
  list-style: none;
}

li {
  background: #eeeeeed2;
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 0.2rem;
  width: 100%;
}

a {
  color: black;
  width: 100%;
}
